/* About page section */
.gray-container {
    background-color: #f6f6f6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* About page section headings */
.about-section {
    font-family: 'Montserrat', sans-serif;
}

/* About page section heading */
.about-section h2 {
    margin-bottom: 20px;
}

/* About page section text */
.about-section p {
    line-height: 1.6;
    margin-bottom: 15px;
}

/* About page image */
.about-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}