/* Navbar styling */
.navbar {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 900;
  }
  
  /* Logo */
  .navbar-logo img {
    height: 25px;
  }
  
  /* Menu items */
  .navbar-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .nav-item {
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333333;
    font-weight: bold; 
  }
  
  .nav-item:hover .nav-link { 
    background-color: #f6f6f6; 
    color: #333;
  }
  
  
  /* Icons */
  .navbar-icons {
    display: flex;
    align-items: center;
  }

  .navbar-icons .nav-link:hover {
    background-color: #f6f6f6;
    color: #333;
}
  
  /* Collapse button */
  .navbar-collapse-button {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 22px;
    left: 20px;
  }
 
  .icon-bar {
    width: 22px;
    height: 2px;
    background-color: #333;
    margin: 4px 0;
  }

  .navbar-menu.open {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 830px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar-menu {
      display: none;
      width: 100%;
      text-align: center;
      margin-top: 20px;
    }
  
    .navbar-ul {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-item {
      margin-left: 0;
      margin-bottom: 10px;
    }
  
    .navbar-collapse-button {
      display: block;
    }
  
    .navbar-icons {
      margin-top: 20px;
    }
  }
